<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Create an Account</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="register-container">
    <div class="left-panel">
      <img src="{{ url_for('static', filename='assets/stockimage.jpg') }}"/>
    </div>

    <div class="register-right-panel">
      <div class="register-form-container">
        <div class="logo-container" style="text-align: center; margin-bottom: 20px;">
          <img src="{{ url_for('static', filename='assets/logo1.jpeg') }}" alt="LGU Alubijid Logo" style="max-width: 150px; height: auto;">
        </div>
        <h2>Create an Account</h2>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        
        <form method="post" action="{{ url_for('register') }}">
          <input type="text" name="first_name" placeholder="First Name" required />
          <input type="text" name="last_name" placeholder="Last Name" required />
          <input type="text" name="username" placeholder="Username" required />
          <input type="email" name="email" placeholder="Email" required />
          <input type="password" name="password" placeholder="Password" required />
          <input type="password" name="confirm_password" placeholder="Confirm Password" required />
          <small style="color:#1E88E5;display:block;margin-top:10px;margin-bottom:10px;">Password Recommendation: Use 8 or more characters with a mix of letters, numbers and symbols.</small>
          <button type="submit" class="create-account-btn" style="margin-bottom:16px;">Create account</button>
          <a href="{{ url_for('login') }}"><button type="button" class="register-btn">Return to Login</button></a>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
